.button__outer {
  text-align: center;
  width: 100%;

  button.button {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: $fz3;
    padding: 30px 50px;
    max-width: 530px;
    border-radius: 3px;
    letter-spacing: 1px;
  }
}