section.copyright{
  background-color: $color3;
  text-align: center;
  color: $default-color;
  font-size: $fz1;
  padding: 0 15px 15px;
  
  & p{
    & a{
      font-weight: $bold;
    }
  }
}

@media (min-width: 992px){
  section.copyright{
    font-size: $fz3;
  }
}