footer.footer {
  padding: 10px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;

  .footer__part:first-child {
    margin-bottom: 20px;
  }

  h2 {
    font-size: $fz6;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) {

  footer.footer {
    padding: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    .footer__part:first-child {
      margin-bottom: 0;
    }

    h2 {
      font-size: $fz9;
    }
  }

}

@media (min-width: 992px) {

  footer.footer {
    padding: 50px;
  }

}