footer.footer {
  padding: 27px 0;
  display: flex;
  flex-direction: column;
  background-color: $color3;
  color: $default-color;

  .footer__part{
    text-align: center;
  }

  .footer__part:first-child {
    margin-bottom: 20px;
  }

  .button{
    border: 2px solid $default-color;
    background-color: transparent;
    color: $default-color;
  }

  h2 {
    font-size: $fz6;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 10px;
  }

  .email{
    font-size: $fz7;
  }
}

@media (min-width: 768px) {

  footer.footer {
    padding: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    .footer__part:first-child {
      margin-bottom: 0;
    }

    h2 {
      font-size: $fz9;
    }
  }

}

@media (min-width: 992px) {

  footer.footer {
    padding: 50px;
  }

}