form.form {
  display: flex;
  flex-direction: column;

  & .form__field {
    margin-bottom: 25px;

    input.input {
      padding: 0;
      font-size: $fz3;
      border-bottom: 2px solid $mainFontColor;
      width: 100%;
      padding-bottom: 5px;
      font-family: $mainFont;

      &::placeholder {
        font-size: $fz1;
        opacity: 1;
        font-family: $mainFont;
        color: $mainFontColor;
      }
    }
  }

  & .form__field:nth-last-child(2) {
    margin-bottom: 40px;
  }

  & .form__field:last-child {
    margin-bottom: 0;
  }

  & button.button {
    font-size: $fz2;
    text-transform: uppercase;
    padding: 15px;
    width: 100%;
    border: 2px solid $mainFontColor;
    background-color: $default-color;
    letter-spacing: $ls1;
    margin-bottom: 0;
    cursor: pointer;

    &:hover{
      background-color: $red;
    }
  }
}

@media (min-width: 768px) {
  form.form {
    & .form__field {
      input.input {
        &::placeholder {
          font-size: $fz5;
        }
      }
    }

    & button.button {
      align-self: flex-start;
      max-width: 190px;
    }
  }
}
