form.form {
  display: flex;
  flex-direction: column;

  & .form__field {
    margin-bottom: 25px;

    input.input {
      padding: 0;
      font-size: $fz3;
      border-bottom: 2px solid $mainFontColor;
      width: 100%;
      padding-bottom: 5px;
      font-family: $mainFont;

      &::placeholder {
        font-size: $fz1;
        opacity: 0.5;
        font-family: $mainFont;
      }
    }
  }

  & .form__field:nth-child(3) {
    margin-bottom: 40px;
  }

  & .form__field:last-child {
    margin-bottom: 0;
  }

  & button.button {
    font-size: $fz2;
    text-transform: uppercase;
    padding: 15px;
    width: 100%;
    border: 2px solid $mainFontColor;
    background-color: $default-color;
    letter-spacing: $ls1;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .form__field:first-child {
    margin-right: 54px;
  }
}
