section.gallery {
  margin-bottom: 110px;
  background-image: url("/assets/img/slider-bg.png");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: auto 90%;

  .slick-prev,
  .slick-next{
    width: 10px;
    height: 15px;

    &::before{
      width: 10px;
      height: 15px;
    }
  }

  & .container {
    & h2.title {
      font-family: $font5;
      text-align: center;
      font-size: $fz15;
      margin-bottom: 40px;
    }
  }

  & .slider__item {
    max-width: 400px;
  }

  & .slick-slide {
    & img {
      transform: rotate(0);
    }

    &:nth-child(2n) {
      & img {
        transform: rotate(-1.75deg);
      }
    }

    &:nth-child(3n) {
      & img {
        transform: rotate(3.95deg);
      }
    }
  }
}
