header.header {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 0;
  width: 100%;
  text-transform: uppercase;
  position: relative;

  h1.logo {
    font-size: $fz3;
    font-weight: $regular;
    letter-spacing: $ls2;
  }
}

.mobile__hidden {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 56px);
  width: 100%;
  top: 100%;
  left: 100%;
  z-index: 1;
  transition: .5s;
  background-color: $default-color;
  border-top: 10px solid $color2;

  & .footer,
  & .menu {
    opacity: 0;
    transition: .2s;
    transition-delay: .5s;
  }

  &.show {
    left: 0;

    & .footer,
    & .menu {
      opacity: 1;
    }
  }
}

.contacts {

  &__phone {
    font-size: $fz8;
  }

  p {
    font-size: $fz6;
  }
}

@media (min-width: 768px) {

  header.header {
    padding: 20px 10px;

    & h1.logo {
      font-size: $fz4;
    }
  }

  .mobile__hidden {
    height: calc(100vh-88px);
  }

}

@media (min-width: 992px) {

  header.header {
    padding: 60px 0 0;

    .container{
      display: flex;
      justify-content: space-between;
    }

    & .contacts{
      text-align: right;

      & a{
        color: $mainFontColor;
        display: block;
      }

      & a.phone{
        font-size: $fz10;
        letter-spacing: $ls2;
        line-height: $lineHeight2;
      }

      & a.email{
        font-size: $fz10;
        line-height: $mainLineHeight;
        font-size: $fz7;
        text-transform: lowercase;
      }
      
    }

    & .logo {
      padding-left: 75px;
      font-size: $fz8;
      text-align: left;
      line-height: $lineHeight2;
      position: relative;

      &::before{
        display: block;
        position: absolute;
        content: '';
        left: 0;
        top: -80px;
        width: 295px;
        height: 83px;
        background-image: url('/assets/img/brush/header-brush.png');
        background-size: contain;
        background-position: 50%;
        background-repeat: no-repeat;
      }
    }
  }

  .contacts {
    position: relative;

    &__phone {
      font-size: $fz6;
    }

    p {
      font-size: $fz4;
    }

    &::before{
      display: block;
      position: absolute;
      content: '';
      right: 0;
      bottom: 0;
      width: 461px;
      height: 565px;
      background-image: url('/assets/img/kapli.png');
      transform: rotate(110deg);
      background-size: contain;
      background-position: 50%;
      background-repeat: no-repeat;
    }
  }
}