section.offer {
  margin-bottom: 40px;

  .slick-next.slick-disabled:before, 
  .slick-prev.slick-disabled:before {
    opacity: 0;
  }

  .slick-next {
    right: 15px;
  }

  .slick-prev {
    left: 15px;
    z-index: 1;
  }

  & .container {
    padding: 0;

    & .offer__top {
      padding: 0 30px 30px;

      & h2.title {
        font-size: $fz8;
        text-transform: uppercase;
        letter-spacing: $ls2;
        position: relative;
        margin-bottom: 40px;

        &::before {
          display: block;
          position: absolute;
          content: "";
          left: -120px;
          top: 0;
          bottom: 0;
          margin: auto;
          width: 295px;
          height: 83px;
          background-image: url("/assets/img/brush/offer-brush.png");
          background-size: contain;
          background-position: 50%;
          background-repeat: no-repeat;
          z-index: -1;
        }
      }

      & p {
        font-weight: $medium;
        font-size: $fz5;
      }
    }

    & .content {
      & .offer__list {
        // padding: 30px 30px 20px;
        background-color: $color2;
        display: flex;

        & form.offer__item {
          position: relative;
          z-index: 1;
          min-width: 100%;
          padding: 30px 30px 20px;
          
          & p.offerta{
            text-align: center;
            margin-top: 15px;
          }

          & .offer__item--about {
            padding: 40px 20px 20px;
            border: 2px solid $default-color;
            position: relative;
            z-index: 0;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 10px;
            min-height: 534px;

            & h3.offer__item--title {
              font-family: $font5;
              font-size: $fz14;
              text-align: center;
              line-height: 88%;
              position: relative;
              margin-bottom: 45px;

              &::before {
                display: block;
                position: absolute;
                content: "";
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 250px;
                height: 96px;
                background-image: url("/assets/img/brush/white-brush.png");
                background-size: contain;
                background-position: 50%;
                background-repeat: no-repeat;
                z-index: -1;
              }
            }

            & .select__title {
              width: 160px;
              padding: 5px 20px 0;
              background-color: $default-color;
              text-align: left;
              font-size: $fz1;
            }

            & select.select {
              width: 160px;
              height: 40px;
              font-size: $fz10;
              font-family: $mainFont;
              font-weight: $bold;
              line-height: 158%;
              padding: 0 15px;
              margin-bottom: 20px;
              background-color: $default-color;

              & option {
                font-weight: $bold;
              }
            }

            & .offer__item--included {
              & h3 {
                font-size: $fz1;
                text-align: center;
                margin-bottom: 15px;
                display: block;
              }

              & ul {
                text-align: left;
                & li {
                  padding-left: 20px;
                  font-size: $fz4;
                  position: relative;
                  margin-bottom: 10px;

                  &::before {
                    display: block;
                    position: absolute;
                    content: "—";
                    left: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                  }
                }

                & li:last-child {
                  margin-bottom: 0px;
                }
              }
            }
          }

          & a.additional__button {
            background-color: $default-color;
            color: $mainFontColor;
            text-align: center;
            display: block;
            padding: 10px;
            font-weight: $bold;
            font-size: $fz3;
            position: relative;
            margin-bottom: 15px;

            & span.plus {
              font-size: $fz10;
              position: absolute;
              left: 15px;
              top: 0;
              bottom: 0;
              margin: auto;
            }

            & span.check {
              font-size: $fz5;
              position: absolute;
              right: 15px;
              top: 0;
              bottom: 0;
              margin: auto;
              color: $color5;
              line-height: 2;
              display: none;
            }

            &.checked{
              & span.check {
                display: block;
              }
            }
          }

          & .offer__price {
            display: flex;
            width: 200px;
            margin: auto;
            justify-content: space-between;
            margin-bottom: 15px;
            align-items: flex-end;

            & input.offer__price--title {
              font-size: $fz2;
            }

            & input.offer__price--sum {
              font-size: $fz12;
              font-weight: $bold;
              line-height: 1;
              margin-bottom: -10px;
              text-align: right;
              border: none;
              background-color: transparent;
              color: $mainFontColor;
              width: 100%;
              font-family: $mainFont;
            }
          }

          & a.button {
            width: 200px;
            font-size: $fz2;
            text-transform: uppercase;
            padding: 15px;
            margin: auto;
            display: block;
            font-weight: $medium;
            border: 2px solid $mainFontColor;
            background-color: $default-color;
            color: $mainFontColor;
            text-align: center;
          }

          & .options{
            position: absolute;
            display: flex;
            opacity: 0;
            align-items: stretch;
            right: -150%;
            z-index: -1;
            top: 0px;
            width: 100%;
            height: 100%;
            padding-right: 45px;
            background-color: rgba(16,16,16,.6);
            transition: .5s;

            & .options__inner{
              background-color: $default-color;
              position: relative;
              display: flex;
              flex-direction: column;
              justify-content: space-between;

              & h3.options__title{
                text-transform: uppercase;
                letter-spacing: $ls1;
                font-size: $fz1;
                text-align: center;
                padding: 12px;
                border-bottom: 10px solid $color2;
              }

              & ul.list{
                padding-left: 30px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                flex: auto;

                & .list__item{
                  padding: 10px 45px 10px 0;
                  font-size: $fz2;
                  border-bottom: 1px solid $color2;
                  position: relative;

                  & span{
                    display: block;
                  }

                  &::after{
                    display: block;
                    position: absolute;
                    content: '';
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    width: 100%;
                    height: 100%;
                    background-size: contain;
                    background-position: 50%;
                    background-repeat: no-repeat;
                  }

                  & label.checkbox{
                    width: 11px;
                    height: 15px;
                    position: absolute;
                    right: 15px;
                    top: 0;
                    bottom: 0;
                    margin: auto;

                    & input {
                      position: absolute;
                      cursor: pointer;
                      opacity: 0;
                      height: 0;
                      width: 0;
                      &:checked ~ .checkmark:after {
                        display: block;
                      }
                    }

                    & .checkmark {
                      position: absolute;
                      top: 0;
                      left: 0;
                      height: 100%;
                      width: 100%;

                      &::after{
                        content: "";
                        position: absolute;
                        display: none;
                        left: 9px;
                        top: 5px;
                        width: 5px;
                        height: 10px;
                        border: solid $color3;
                        border-width: 0 2px 2px 0;
                        -webkit-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                        transform: rotate(45deg);
                      }
                    }
                  }

                  &.checked{

                    & span:first-child{
                      font-weight: $bold;
                    }

                    & label.checkbox{
  
                      & .checkmark {
  
                        &::after{
                          content: "";
                          position: absolute;
                          display: none;
                        }
                      }
                    }
                  }
                }

                & .list__item:last-child{
                  border-bottom: none;
                }
              }

              & a.button{
                width: 100%;
                border: none;
                background-color: $mainFontColor;
                font-weight: $bold;
                color: $default-color;
                margin: 0;
                text-transform: inherit;
                font-size: $fz4;
                padding: 20px 0;
                text-align: center;
              }

              & .options__close{
                position: absolute;
                right: -35px;
                top: 5px;
                width: 30px;
                height: 30px;
                background-image: url('/assets/img/icons/cancel.svg');
                background-repeat: no-repeat;
                background-position: 50%;
                background-size: contain;

                & span{
                  height: 100%;
                  width: 100%;
                  background-color: transparent;
                  position: absolute;
                  top: 0;
                  left: 0;
                }
              }
            }

            &.open{
              right: 0px;
              z-index: 1;
              opacity: 1;
            }
          }

          & .offer__item--contact{
            background-color: $default-color;
            position: absolute;
            bottom: -100%;
            left: 0;
            width: 100%;
            padding: 30px;
            transition: .5s;
            z-index: -1;
            opacity: 0;

            & .close{
              width: 20px;
              height: 20px;
              position: absolute;
              top: 5px;
              right: 5px;
              background-image: url('/assets/img/icons/cancel.svg');
              background-position: 50%;
              background-size: contain;
              background-repeat: no-repeat;
            }

            &.open{
              bottom: -2%;
              opacity: 1;
              z-index: 1;
            }
          }
          
        }

        & form.offer__item.pink{
          & .offer__item--about{
            & h3.offer__item--title{
              color: $default-color;
              &::before {
                transform: translate(-50%, -50%) rotate(2.45deg);
                width: 309px;
                height: 104px;
                background-image: url("/assets/img/brush/offer-brush-pink.png");
              }
            }
          }

          & a.button{
            background-color: $pink;
          }
        }

        & form.offer__item.red{
          & .offer__item--about{
            & h3.offer__item--title{
              color: $default-color;
              &::before {
                transform: translate(-50%, -50%) rotate(5.8deg);
                width: 350px;
                height: 200px;
                background-image: url("/assets/img/brush/offer-brush-red.png");
              }
            }
          }

          & a.button{
            background-color: $red;
          }
        }

        & form.offer__item.party{
          & .offer__item--about{
            padding: 100px 20px 0px;

            & h3.offer__item--title{
              color: $default-color;
              font-family: $mainFont;
              color: $mainFontColor;
              font-weight: $bold;
              font-size: $fz8;
              text-transform: uppercase;
              margin-bottom: 5px;

              &::before {
                display: none;
              }
            }

            & p{
              margin-bottom: 30px;
              font-style: italic;
              font-weight: $medium;
              font-size: $fz4;
            }

            & select.select:last-child{
              margin-bottom: 0;
            }

            &::before{
              display: block;
              position: absolute;
              content: '';
              left: 0;
              top: 0;
              width: 80%;
              height: 100%;
              background-image: url('/assets/img/party.png');
              background-size: contain;
              background-position: 0% 0%;
              background-repeat: no-repeat;
              z-index: -1;
            }
          }

          & a.button{
            background-color: $default-color;
          }

          & a.additional__button,
          & .options{
            display: none;
          }
        }
      }
    }

    & .offer__slider {
      padding: 85px 0;
      background-image: url("/assets/img/offer-plant.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 0;
      margin-bottom: 50px;

      & ul.list {
        background-color: $mainFontColor;
        font-size: 0;
        position: relative;

        &::before {
          position: absolute;
          display: block;
          content: "";
          top: -20px;
          left: 60px;
          width: 40px;
          height: 40px;
          background-image: url("/assets/img/icons/heart.svg");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: 50% 50%;
          z-index: 1;
        }

        &::after {
          position: absolute;
          display: block;
          content: "";
          bottom: -35px;
          right: 10px;
          width: 230px;
          height: 75px;
          background-image: url("/assets/img/brush/title-brush.png");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: 50% 50%;
          transform: rotate(4deg);
          z-index: 1;
        }

        & .slick-dots {
          bottom: -55px;
        }
      }
    }

    & .conditions {
      padding: 0 30px;

      & h3.title {
        margin-bottom: 30px;
        font-size: $fz8;
        letter-spacing: $ls2;
        text-transform: uppercase;
      }

      & p {
        text-indent: 20px;
        font-size: $fz5;
        margin-bottom: 10px;
        position: relative;

        &::before {
          position: absolute;
          display: block;
          content: "—";
          top: 0px;
          left: -20px;
          font-size: 15px;
        }
      }

      & p:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  section.offer {
    margin-bottom: 70px;

    & .container {
      padding: 0 10px;

      & .offer__slider {
        display: none;
      }

      & .offer__top {
        padding: 0 110px 40px 40%;

        & h2.title {
          font-size: $fz9;
          margin-bottom: 20px;
        }

        & p {
          font-weight: $medium;
          font-size: $fz7;
          line-height: 150%;
        }
      }

      & .content {

        & .offer__list {
          display: none;
        }

        & .tabs{
          display: flex;
          flex-direction: column;
          margin-bottom: 40px;
          min-height: 1200px;
          position: relative;

          &::before{
            display: block;
            position: absolute;
            content: '';
            top: -90px;
            left: -366px;
            width: 514px;
            height: 730px;
            background-image: url('/assets/img/offer-plant.png');
            background-size: contain;
            background-position: 100% 0%;
            background-repeat: no-repeat;
            z-index: -1;
          }

          &.min{
            min-height: auto;
          }

          & .nav-tabs{
            display: flex;
            justify-content: space-between;
            & a.tab__item{
              color: $mainFontColor;
              width: 49.5%;
              text-align: center;
              background-color: $color8;
              padding: 18px 18px 24px;

              & h2.title{
                text-transform: uppercase;
                font-weight: $bold;
                letter-spacing: $ls2;
                font-size: $fz8;
                line-height: $lineHeight2;
              }

              & p{
                font-style: italic;
                font-size: $fz4;
                font-weight: $medium;
              }

              &.active{
                background-color: $color2;
              }
            }
          }

          & ul.tab__content{
            padding: 35px 60px 30px;
            background-color: $color2;
            position: relative;

            & li.tab__content--inner{
              display: flex;
              justify-content: space-between;

              & .tab__inner--item{
                width: 32%;
                border: 2px solid $default-color;
                padding: 40px 30px 30px;
                position: relative;
                
                & .tab__inner--list{
                  display: none;
                  background-color: $color9;
                  position: absolute;
                  left: -61px;
                  top: calc(100%+30px);
                  padding: 0 60px 20px;
                  z-index: 1;

                  & .offerta{
                    text-align: center;
                    margin-top: 15px;
                    font-size: $fz2;
                  }

                  & .tab__inner--content{
                    border: 1px solid rgba(16,16,16,.5);
                    padding: 25px 30px; 

                    & p.checklist__title{
                      font-weight: $medium;
                      font-size: $fz8;
                      margin-bottom: 20px;
                    }

                    & .checklist{
                      display: flex;
                      justify-content: space-between;
                      align-items: flex-end;

                      & li.list__item{
                        padding-left: 30px;
                        position: relative; 
                        font-size: $fz6; 
                        margin-bottom: 10px; 
                        
                        & span.title{
                          font-weight: $bold;
                          display: inline-block;
                          margin-right: 5px;
                        }

                        & label.checkbox{
                          position: absolute;
                          left: 0;
                          top: 0;
                          width: 18px;
                          height: 18px;
                          border-radius: 5px;

                          & input{
                            position: absolute;
                            cursor: pointer;
                            opacity: 0;
                            height: 0;
                            width: 0;

                            &:checked ~ .checkmark:after {
                              display: block;
                            }
                          }

                          & span.checkmark{
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 100%;
                            width: 100%;

                            &::after{
                              content: "";
                              position: absolute;
                              display: none;
                              left: 6px;
                              top: 0px;
                              width: 8px;
                              height: 15px;
                              border: solid $color3;
                              border-width: 0 2px 2px 0;
                              -webkit-transform: rotate(45deg);
                              -ms-transform: rotate(45deg);
                              transform: rotate(45deg);
                            }
                          }
                        }
                      }

                      & .order{
                        text-align: center;
                        padding-bottom: 25px;

                        & span {
                          display: block;

                          &.title{
                            font-size: $fz2;
                          }
                        }

                        & input.price{
                          font-weight: $bold;
                          font-size: $fz13;
                          margin-bottom: 20px;
                          background-color: transparent;
                          text-align: center;
                          width: 200px;
                          font-family: $mainFont;

                          &:disabled{
                            color: $mainFontColor;
                          }
                        }
                        
                        & a.button{
                          display: block;
                          border: 2px solid $mainFontColor;
                          color: $mainFontColor;
                          background-color: $default-color;
                          font-size: $fz2;
                          font-weight: $medium;
                          margin-bottom: 0;
                          cursor: pointer;
                          transition: .2s;

                          &:hover{
                            background-color: $red;
                          }
                        }
                      }
                    }
                  }
                }

                & h3.offer__item--title{
                  font-size: $fz15;
                  font-family: $font5;
                  position: relative;
                  text-align: center;
                  z-index: 1;
                  margin-bottom: 50px;

                  &::before {
                    display: block;
                    position: absolute;
                    content: "";
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 279px;
                    height: 107px;
                    background-image: url("/assets/img/brush/white-brush.png");
                    background-size: contain;
                    background-position: 50%;
                    background-repeat: no-repeat;
                    z-index: -1;
                  }
                }

                & span.select__title{
                  width: 160px;
                  background-color: $default-color;
                  display: block;
                  margin: 0 auto;
                  padding: 10px 10px 0;
                  font-size: $fz1;
                }

                & select.select.select__time{
                  width: 160px;
                  background-color: $default-color;
                  display: block;
                  margin: 0 auto 20px;
                  padding: 0 10px 0;
                  font-size: $fz10;
                  font-weight: $bold;
                  font-family: $mainFont;
                  line-height: $lineHeight2;

                  &:disabled{
                    color: $mainFontColor;
                  }

                  & option {
                    font-weight: $bold;
                    
                  }
                }

                & .offer__item--included{
                  text-align: center;

                  & h3 {
                    font-size: $fz3;
                    margin-bottom: 15px;
                  }

                  & ul{
                    text-align: left;
                    min-height: 330px;
                    position: relative;



                    & li {
                      padding-left: 20px;
                      font-size: $fz6;
                      position: relative;
                      margin-bottom: 15px;

                      &::before{
                        display: block;
                        position: absolute;
                        content: "—";
                        left: 0;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                      }
                    }
                  }
                }

                & .offer__item--contact{
                  position: fixed;
                  display: none;
                  width: 100%;
                  height: 100%;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  justify-content: center;
                  z-index: -1;
                  opacity: 0;
                  align-items: center;
                  background-color: rgba(255,255,255,.8);

                  & .offer__item--inner{
                    display: flex;
                    position: relative;
                    flex-direction: column;
                    align-items: stretch;
                    background-color: $default-color;
                    padding: 80px 80px 40px;
                    -webkit-transition: .5s;
                    -o-transition: .5s;
                    transition: .5s;
                    width: 800px;
                    align-items: center;
                    text-align: center;

                    & a.close{
                      width: 20px;
                      height: 20px;
                      position: absolute;
                      top: 5px;
                      right: 5px;
                      background-image: url('/assets/img/icons/cancel.svg');
                      background-position: 50%;
                      background-size: contain;
                      background-repeat: no-repeat;
                      cursor: pointer;
                    }

                    & .form__field{
                      margin-bottom: 25px;
                      width: 400px;
                      & input.input{
                        width: 100%;
                        border-bottom: 2px solid $mainFontColor;
                        font-family: $mainFont;
                        font-size: $fz6;
                        padding: 0 0 5px;
                      }

                      &:nth-last-child(2){
                        margin-bottom: 40px;
                      }

                      &:last-child{
                        margin-bottom: 0;
                      }

                      & button.button{
                        font-size: $fz4;
                        text-transform: uppercase;
                        padding: 15px;
                        width: 100%;
                        border: 2px solid $mainFontColor;
                        background-color: $default-color;
                        letter-spacing: .1em;
                        margin-bottom: 0;
                        cursor: pointer;
                      }
                    }
                  }

                  &.open{
                    opacity: 1;
                    z-index: 2;
                    display: flex;
                  }
                }

                & .offer__item--cover{
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  left: 0;
                  bottom: 0;
                  background: rgba(224,224,224,1);
                  background: -moz-linear-gradient(0deg, rgba(224,224,232,1) 0%, rgba(224,224,232,1) 40%, rgba(224,224,232,0) 100%);
                  background: -webkit-gradient(bottom, top, color-stop(0%, rgba(224,224,232,1)), color-stop(40%, rgba(224,224,232,1)), color-stop(100%, rgba(224,224,232,0)));
                  background: -webkit-linear-gradient(0deg, rgba(224,224,232,1) 0%, rgba(224,224,232,1) 40%, rgba(224,224,232,0) 100%);
                  background: -o-linear-gradient(0deg, rgba(224,224,232,1) 0%, rgba(224,224,232,1) 40%, rgba(224,224,232,0) 100%);
                  background: -ms-linear-gradient(0deg, rgba(224,224,232,1) 0%, rgba(224,224,232,1) 40%, rgba(224,224,232,0) 100%);
                  background: linear-gradient(0deg, rgba(224,224,232,1) 0%, rgba(224,224,232,1) 40%, rgba(224,224,232,0) 100%);
                  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#e0e0e8', GradientType=1 );

                  & .button{
                    bottom: 35px;
                    left: 0;
                    right: 0;
                    margin: auto;
                    position: absolute;
                    width: 80%;
                    text-align: center;
                    color: $mainFontColor;
                    cursor: pointer;
                  }
                }

                &.active{
                  border: 1px solid rgba(16,16,16,.5);
                  border-bottom: none;
                  position: relative;

                  & .tab__inner--list{
                    display: block;
                  }

                  & span.bottom{
                    display: block;
                    position: absolute;
                    content: '';
                    left: -1px;
                    top: 100%;
                    width: calc(100%+2px);
                    height: 31px;
                    border-left: 1px solid rgba(16,16,16,.5);
                    border-right: 1px solid rgba(16,16,16,.5);
                    border-bottom: 1px solid $color9;
                    background-color: transparent;
                    z-index: 2;
                  }

                  & .offer__item--contact{
                    display: flex;
                  }

                  & .offer__item--cover{
                    display: none;
                  }
                }

                &:nth-child(2){
                  & .tab__inner--list{
                    left: 50%;
                    transform: translateX(-50%);
                    margin: auto;
                  }

                  & h3.offer__item--title{
                    color: $default-color;
  
                    &::before {
                      background-image: url("/assets/img/brush/offer-brush-pink.png");
                    }
                  }
                }

                &:nth-child(3){
                  & .tab__inner--list{
                    left: auto;
                    right: -61px;
                  }

                  & h3.offer__item--title{
                    color: $default-color;
  
                    &::before {
                      background-image: url("/assets/img/brush/offer-brush-red.png");
                      transform: translate(-50%, -50%) rotate(5.8deg);
                      width: 430px;
                      height: 240px;
                    }
                  }
                }
              }

              &:nth-child(2){
                flex-direction: column;
                & .tab__inner--item{
                  position: relative;
                  width: 100%;

                  &:before{
                    display: block;
                    position: absolute;
                    content: '';
                    left: -60px;
                    top: -35px;
                    width: 371px; 
                    height: 154px;
                    background-image: url('/assets/img/colors.png');
                    background-size: contain;
                    background-position: 0 0;
                    background-repeat: no-repeat;
                  }

                  &:after{
                    display: block;
                    position: absolute;
                    content: '';
                    right: -60px;
                    top: 0px;
                    width: 371px; 
                    height: 154px;
                    background-image: url('/assets/img/colors.png');
                    background-size: contain;
                    background-position: 0 0;
                    background-repeat: no-repeat;
                    transform: rotateY(180deg);
                  }

                  & p.title{
                    width: 387px;
                    font-size: $fz7;
                    line-height: $lineHeight2;
                    margin: auto;
                    text-align: center;
                    margin-bottom: 40px;
                  }

                  & .options{
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    width: 550px;
                    margin: 0 auto 10px;

                    & .selections{
                      display: flex;
                      align-items: flex-start;

                      & .part{
                        & select.select__time{
                          margin-bottom: 0;
                        }

                        & select.select__people{
                          width: 160px;
                          background-color: #fff;
                          display: block;
                          margin: auto auto 0px;
                          padding: 0 10px;
                          font-size: 25px;
                          font-weight: 700;
                          font-family: EB Garamond,serif;
                          line-height: 1.58;

                          & option{
                            font-weight: $bold;
                          }
                        }

                        &:nth-child(1){
                          margin-right: 30px;
                        }
                      }
                    
                    }

                    & .order{
                      text-align: center;

                      & span.title{
                        font-size: $fz2;
                      }

                      & input.price{
                        font-weight: 700;
                        font-size: 35px;
                        margin-bottom: 0px;
                        background-color: rgba(0,0,0,0);
                        text-align: center;
                        width: 200px;
                        font-family: EB Garamond,serif;
                        color: $mainFontColor;
                      }
                    }
                  }

                  & .content{
                    width: 550px;
                    font-style: italic;
                    margin: 0 auto 20px;
                  }

                  & a.button{
                    margin: auto;
                    display: block;
                    max-width: 220px;
                    border: 2px solid $mainFontColor;
                    color: $mainFontColor;
                    background-color: $default-color;
                    cursor: pointer;

                    &:hover{
                      background-color: $red;
                    }
                  }
                }

                & p.offerta{
                  text-align: center;
                  margin-top: 15px;
                  font-size: $fz2;
                }
              }
            }
          }
        }
      }

      & .conditions {
        width: 50%;
        position: relative;
  
        & h3.title {
          padding-left: 200px;
          font-size: $fz9;
        }
  
        & p {
          text-indent: 20px;
          font-size: $fz5;
          margin-bottom: 10px;
          position: relative;
  
          &::before {
            position: absolute;
            display: block;
            content: "—";
            top: 0px;
            left: -20px;
            font-size: 15px;
          }
        }
  
        & p:last-child {
          margin-bottom: 0;
        }

        & .pic__left{
          position: absolute;
          display: block;
          right: 406px;
          bottom: 85%;
          width: 514px;
          z-index: -1;
        }

        & .pic__right{
          position: absolute;
          display: block;
          left: 130%;
          bottom: 0;
          width: 450px;
          z-index: -1;

          &::before{
            display: block;
            position: absolute;
            content: '';
            left: -150px;
            top: 0;
            width: 295px;
            height: 83px;
            background-image: url('/assets/img/brush/offer-brush.png');
            background-size: contain;
            background-position: 50%;
            background-repeat: no-repeat;
            transform: rotate(90deg);
            z-index: -1;
          }

          &::after{
            display: block;
            position: absolute;
            content: '';
            left: 180px;
            bottom: -60px;
            width: 300px;
            height: 95px;
            background-image: url('/assets/img/brush/title-brush.png');
            background-size: contain;
            background-position: 50%;
            background-repeat: no-repeat;
            z-index: 1;
            transform: rotate(4.5deg);
          }
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  section.offer{
    margin-top: -130px;
  }
}