.photostack {
  position: relative;
  padding: 0;
  margin: 0;
  height: 70vh;
  width: 300px;
  display: flex;
  justify-content: center;

  &::before {
    display: block;
    position: absolute;
    content: "";
    right: -250px;
    top: 180px;
    width: 100%;
    height: 100%;
    background-image: url("/assets/img/kapli.png");
    background-repeat: no-repeat;
    background-position: 1000% 100%;
    background-size: contain;
    transform: rotate(-144deg);
  }

  & > li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;

  }
}

@media (min-width: 768px) {
  .photostack {
    height: 50vh;

    &::before {
      right: -250px;
      top: 180px;
      transform: rotate(37.57deg);
    }

    & > li {
      width: 360px;
      height: 418px;
    }
  }
}

@media (min-width: 992px) {
  .photostack {
    height: 500px;
    margin-top: -60px;
    margin-bottom: 30px;

    &::before {
      right: -170px;
      top: 70px;
      width: 606px;
      height: 744px;
      background-position: 50%;
      transform: rotate(-37.57deg);
      z-index: -1;
    }

    & > li {
      height: 418px;

      
    }
  }
}
