@font-face {
  font-family: "OptimistiSmooth";
  font-display: auto;
  src: url("/assets/fonts/OptimistiSmooth.otf");
}

@font-face {
  font-family: "optimistisparkling";
  font-display: auto;
  src: url("/assets/fonts/optimistisparkling.otf");
}

@font-face {
  font-family: "rozovii-chulok";
  font-display: auto;
  src: url("/assets/fonts/rozovii-chulok.ttf");
}

@font-face {
  font-family: "segoescript";
  font-display: auto;
  src: url("/assets/fonts/segoescript.ttf");
}

