// Font
$mainFont: "EB Garamond", serif;
$font2: "OptimistiSmooth", serif;
$font3: "rozovii-chulok", serif;
$font4: "segoescript", serif;
$font5: "optimistisparkling", serif;
$slickFont: "slick", serif;

// Size
$fz1: 13px;
$fz2: 14px;
$fz3: 15px;
$fz4: 16px;
$fz5: 17px;
$fz6: 18px;
$fz7: 19px;
$fz8: 20px;
$fz9: 23px;
$fz10: 25px;
$fz11: 30px;
$fz12: 32px;
$fz13: 35px;
$fz14: 40px;
$fz15: 44px;
$fz16: 55px;
$fz17: 62px;

$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

$ls1: 0.1em;
$ls2: 0.2em;

$mainLineHeight: 1.2;
$lineHeight2: 1.58;

$desktopWidth: 1130px;
$smDesktopWidth: 992px;
$tablet: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

// Main color
$mainFontColor: #101010;
$default-color: #fff;
$color2: #e0e0e8;
$color3: #565656;
$color4: #cdcdcd;
$color5: #c7c7c7;
$color6: #454545;
$color7: #f3f3f3;
$pink: #ff7894;