extends ./layout/template.pug
block content
  .main__about.visible__md
    include ./module/socials
    include ./module/areas
  .title
    img(src="./assets/img/title.svg", alt="title")
    p.main__description.visible__md
      | Приватные террасы, на которые мы вас приглашаем, расположены на крыше особняк XIX века на 
      b Английской набережной
      |, в двух шагах от острова 
      b Новая Голландия.
  button.button.hidden__md забронировать
  .main__gallery
    include ./module/photostack
    a.main__gallery--photos(href="#") смотреть все фото
  p.main__description.hidden__md
    | Приватные террасы, на которые мы вас приглашаем, расположены на крыше особняк XIX века на 
    b Английской набережной
    |, в двух шагах от острова 
    b Новая Голландия.