ul.areas
  li.areas__item
    h3.areas__title малая
    p.areas__size 
      | площадь
      br 
      span 130 м²
    p.areas__purpose для свиданий, дружеских встреч и фотосъемок
    p.areas__capacity
      | вместимость
      br 
      span до 30 чел.
  li.areas__item
    h3.areas__title большая
    p.areas__size 
      | площадь
      br 
      span 250 м²
    p.areas__purpose для праздников, корпоративов, свадебных церемоний и т.п.
    p.areas__capacity
      | вместимость
      br 
      span более 50 чел.