section.faq
  h2.title FAQ's
  ul.faq__list
    li.faq__item
      h3.faq__item--title Как оборудована терраса?
      p На террасе установлен шатер, удобная мебель с подушками и пледами,фонари, гирлянды, свечи, посуда для сервировки имеется удобная туалетная комната.
    li.faq__item
      h3.faq__item--title На крыше безопасно?
      p На крыше абсолютно безопасно. Мы оборудовали ее бортиками и ограждениями, а также покрыли специальным напольным покрытием, благодаря чему вы не поскользнетесь даже в дождь.Перед каждым мероприятием координатор проводит инструктаж по безопасности.
    li.faq__item
      h3.faq__item--title Можно ли с детьми?
      p Да, в сопровождении родителей или законных представителей.
    li.faq__item
      h3.faq__item--title Можно ли со своими напитками и едой?
      p Дополнительно к напиткам и еде в приобретаемом пакете можете принести угощение с собой.