footer.footer
  .container
    .footer__part.visible__sm
      h2.title 
        | крыша на </br> 
        | английской, 70
    .footer__part
      a.button.scroll(href='#response') связаться с нами
    .footer__part
      include ./socials
      a.email(href='mailto:panoramacenter@yandex.ru') panoramacenter@yandex.ru
    .footer__part.hidden__sm 
      a.phone(href='tel:+79217435359') +7 921 743 53 59