form.form(action="")
  .form__field
    input.input(type="text" placeholder="Ваше имя")
  .form__field
    input.input(type="text" placeholder="Ваш e-mail")
  .form__field
    input.input(type="text" placeholder="Контактный телефон")
  .form__field
    button.button(type='submit') отправить