form.form(action="")
  .form__field
    input.input(type="text" placeholder="E-mail")
    .checkbox__field
      input.checkbox(type="checkbox" id='checkbox' checked)
      label(for="#checkbox") подписаться на новости
  .form__field
    button.button(type='submit') подписаться