section.gallery.visible__md
  .container
    h2.title Фотогалерея
    .content
      ul.slider
        li.slider__item
          img(src="./assets/img/polaroid/polaroid4.png", alt="")
        li.slider__item
          img(src="./assets/img/polaroid/polaroid5.png", alt="")
        li.slider__item
          img(src="./assets/img/polaroid/polaroid6.png", alt="")
        li.slider__item
          img(src="./assets/img/polaroid/polaroid7.png", alt="")