section#gallery.gallery.visible__md
  .container
    h2.title Фотогалерея
    .content
      ul.slider
        a.slider__item(data-lightbox='gallery' href='./assets/img/polaroid/polaroid1.png')
          img(class='lazy' src='data:image/gif;base64,R0lGODlhRABPAIAAAP///wAAACH5BAEAAAEALAAAAABEAE8AAAJQjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvXlAIAOw==' data-original="./assets/img/polaroid/polaroid1.png", alt="")
        a.slider__item(data-lightbox='gallery' href='./assets/img/polaroid/polaroid2.png')
          img(class='lazy' src='data:image/gif;base64,R0lGODlhRABPAIAAAP///wAAACH5BAEAAAEALAAAAABEAE8AAAJQjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvXlAIAOw==' data-original="./assets/img/polaroid/polaroid2.png", alt="")
        a.slider__item(data-lightbox='gallery' href='./assets/img/polaroid/polaroid3.png')
          img(class='lazy' src='data:image/gif;base64,R0lGODlhRABPAIAAAP///wAAACH5BAEAAAEALAAAAABEAE8AAAJQjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvXlAIAOw==' data-original="./assets/img/polaroid/polaroid3.png", alt="")
        a.slider__item(data-lightbox='gallery' href='./assets/img/polaroid/polaroid4.png')
          img(class='lazy' src='data:image/gif;base64,R0lGODlhRABPAIAAAP///wAAACH5BAEAAAEALAAAAABEAE8AAAJQjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvXlAIAOw==' data-original="./assets/img/polaroid/polaroid4.png", alt="")
        a.slider__item(data-lightbox='gallery' href='./assets/img/polaroid/polaroid5.png')
          img(class='lazy' src='data:image/gif;base64,R0lGODlhRABPAIAAAP///wAAACH5BAEAAAEALAAAAABEAE8AAAJQjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvXlAIAOw==' data-original="./assets/img/polaroid/polaroid5.png", alt="")
        a.slider__item(data-lightbox='gallery' href='./assets/img/polaroid/polaroid7.png')
          img(class='lazy' src='data:image/gif;base64,R0lGODlhRABPAIAAAP///wAAACH5BAEAAAEALAAAAABEAE8AAAJQjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvXlAIAOw==' data-original="./assets/img/polaroid/polaroid7.png", alt="")
        a.slider__item(data-lightbox='gallery' href='./assets/img/polaroid/polaroid8.png')
          img(class='lazy' src='data:image/gif;base64,R0lGODlhRABPAIAAAP///wAAACH5BAEAAAEALAAAAABEAE8AAAJQjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvXlAIAOw==' data-original="./assets/img/polaroid/polaroid8.png", alt="")
        a.slider__item(data-lightbox='gallery' href='./assets/img/polaroid/polaroid9.png')
          img(class='lazy' src='data:image/gif;base64,R0lGODlhRABPAIAAAP///wAAACH5BAEAAAEALAAAAABEAE8AAAJQjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvXlAIAOw==' data-original="./assets/img/polaroid/polaroid9.png", alt="")
        a.slider__item(data-lightbox='gallery' href='./assets/img/polaroid/polaroid10.png')
          img(class='lazy' src='data:image/gif;base64,R0lGODlhRABPAIAAAP///wAAACH5BAEAAAEALAAAAABEAE8AAAJQjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvXlAIAOw==' data-original="./assets/img/polaroid/polaroid10.png", alt="")
        a.slider__item(data-lightbox='gallery' href='./assets/img/polaroid/polaroid11.png')
          img(class='lazy' src='data:image/gif;base64,R0lGODlhRABPAIAAAP///wAAACH5BAEAAAEALAAAAABEAE8AAAJQjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvXlAIAOw==' data-original="./assets/img/polaroid/polaroid11.png", alt="")
        a.slider__item(data-lightbox='gallery' href='./assets/img/polaroid/polaroid12.png')
          img(class='lazy' src='data:image/gif;base64,R0lGODlhRABPAIAAAP///wAAACH5BAEAAAEALAAAAABEAE8AAAJQjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvXlAIAOw==' data-original="./assets/img/polaroid/polaroid12.png", alt="")
        a.slider__item(data-lightbox='gallery' href='./assets/img/polaroid/polaroid13.png')
          img(class='lazy' src='data:image/gif;base64,R0lGODlhRABPAIAAAP///wAAACH5BAEAAAEALAAAAABEAE8AAAJQjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvXlAIAOw==' data-original="./assets/img/polaroid/polaroid13.png", alt="")
        a.slider__item(data-lightbox='gallery' href='./assets/img/polaroid/polaroid14.png')
          img(class='lazy' src='data:image/gif;base64,R0lGODlhRABPAIAAAP///wAAACH5BAEAAAEALAAAAABEAE8AAAJQjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvXlAIAOw==' data-original="./assets/img/polaroid/polaroid14.png", alt="")
        a.slider__item(data-lightbox='gallery' href='./assets/img/polaroid/polaroid5.png')
          img(class='lazy' src='data:image/gif;base64,R0lGODlhRABPAIAAAP///wAAACH5BAEAAAEALAAAAABEAE8AAAJQjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvXlAIAOw==' data-original="./assets/img/polaroid/polaroid15.png", alt="")
        a.slider__item(data-lightbox='gallery' href='./assets/img/polaroid/polaroid16.png')
          img(class='lazy' src='data:image/gif;base64,R0lGODlhRABPAIAAAP///wAAACH5BAEAAAEALAAAAABEAE8AAAJQjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvXlAIAOw==' data-original="./assets/img/polaroid/polaroid16.png", alt="")
        a.slider__item(data-lightbox='gallery' href='./assets/img/polaroid/polaroid17.png')
          img(class='lazy' src='data:image/gif;base64,R0lGODlhRABPAIAAAP///wAAACH5BAEAAAEALAAAAABEAE8AAAJQjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvXlAIAOw==' data-original="./assets/img/polaroid/polaroid17.png", alt="")
        a.slider__item(data-lightbox='gallery' href='./assets/img/polaroid/polaroid18.png')
          img(class='lazy' src='data:image/gif;base64,R0lGODlhRABPAIAAAP///wAAACH5BAEAAAEALAAAAABEAE8AAAJQjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvXlAIAOw==' data-original="./assets/img/polaroid/polaroid18.png", alt="")
        a.slider__item(data-lightbox='gallery' href='./assets/img/polaroid/polaroid19.png')
          img(class='lazy' src='data:image/gif;base64,R0lGODlhRABPAIAAAP///wAAACH5BAEAAAEALAAAAABEAE8AAAJQjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvXlAIAOw==' data-original="./assets/img/polaroid/polaroid19.png", alt="")
        a.slider__item(data-lightbox='gallery' href='./assets/img/polaroid/polaroid20.png')
          img(class='lazy' src='data:image/gif;base64,R0lGODlhRABPAIAAAP///wAAACH5BAEAAAEALAAAAABEAE8AAAJQjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvXlAIAOw==' data-original="./assets/img/polaroid/polaroid20.png", alt="")
        a.slider__item(data-lightbox='gallery' href='./assets/img/polaroid/polaroid21.png')
          img(class='lazy' src='data:image/gif;base64,R0lGODlhRABPAIAAAP///wAAACH5BAEAAAEALAAAAABEAE8AAAJQjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvXlAIAOw==' data-original="./assets/img/polaroid/polaroid21.png", alt="")
        a.slider__item(data-lightbox='gallery' href='./assets/img/polaroid/polaroid22.png')
          img(class='lazy' src='data:image/gif;base64,R0lGODlhRABPAIAAAP///wAAACH5BAEAAAEALAAAAABEAE8AAAJQjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvXlAIAOw==' data-original="./assets/img/polaroid/polaroid22.png", alt="")
        a.slider__item(data-lightbox='gallery' href='./assets/img/polaroid/polaroid23.png')
          img(class='lazy' src='data:image/gif;base64,R0lGODlhRABPAIAAAP///wAAACH5BAEAAAEALAAAAABEAE8AAAJQjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvXlAIAOw==' data-original="./assets/img/polaroid/polaroid23.png", alt="")
        a.slider__item(data-lightbox='gallery' href='./assets/img/polaroid/polaroid24.png')
          img(class='lazy' src='data:image/gif;base64,R0lGODlhRABPAIAAAP///wAAACH5BAEAAAEALAAAAABEAE8AAAJQjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvXlAIAOw==' data-original="./assets/img/polaroid/polaroid24.png", alt="")
        a.slider__item(data-lightbox='gallery' href='./assets/img/polaroid/polaroid25.png')
          img(class='lazy' src='data:image/gif;base64,R0lGODlhRABPAIAAAP///wAAACH5BAEAAAEALAAAAABEAE8AAAJQjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvXlAIAOw==' data-original="./assets/img/polaroid/polaroid25.png", alt="")
        a.slider__item(data-lightbox='gallery' href='./assets/img/polaroid/polaroid26.png')
          img(class='lazy' src='data:image/gif;base64,R0lGODlhRABPAIAAAP///wAAACH5BAEAAAEALAAAAABEAE8AAAJQjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvXlAIAOw==' data-original="./assets/img/polaroid/polaroid26.png", alt="")
        a.slider__item(data-lightbox='gallery' href='./assets/img/polaroid/polaroid28.png')
          img(class='lazy' src='data:image/gif;base64,R0lGODlhRABPAIAAAP///wAAACH5BAEAAAEALAAAAABEAE8AAAJQjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvXlAIAOw==' data-original="./assets/img/polaroid/polaroid28.png", alt="")