header.header
  .container
    h1.logo
      | крыша на </br> 
      | английской, 70
    .contacts.visible__md
      a.phone(href='tel:+79217435359') +7 921 743 53 59
      a.email(href='mailto:panoramacenter@yandex.ru') panoramacenter@yandex.ru
    include ./burger
    .mobile__hidden.hidden__md
      include ./menu
      include ./footer