li.item
  .item__top
    .item__top--text
      span.item__discount -17%
      span.item__attention шок цена!
    .item__top--star
      img(src="/assets/img/star-1.svg", alt="svg")
  .item__content
    .item__pic
      img(src="./assets/img/rooms/room-1.png", alt="")
    h2.item__title Четырехкомнатная №123
    .item__info
      p.item__garnish черновая отделка
      p.item__area 
        | 86 M² 
        span.info__extra площадь
      p.item__floor 
        | 12/16
        span.info__extra этаж
    span.item__price 1 999 999 руб.
  p.item__status свободно