main.main
  .container
    .main__about.visible__md
      include ./socials
      include ./areas
    .title
      img(src="./assets/img/title.svg", alt="title")
      .video.visible__md
        video(
          autoplay="autoplay",
          muted,
          loop)
          source(
            src="./assets/img/video/video.mp4", 
            type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')

      p.main__description.visible__md
        | Приватные террасы, на которые мы вас приглашаем, расположены на крыше особняк XIX века на 
        b Английской набережной
        |, в двух шагах от острова 
        b Новая Голландия.
    a.button.hidden__md.scroll(href='#response') связаться с нами
    .main__gallery
      p.main__gallery--text.visible__md Встреча на террасе с завораживающим панорамным видом - самый необычный способ насладиться утонченной эстетикой Петербурга. Вас ждет ни с чем не сравнимая вдохновляющая атмосфера для любого мероприятия: свидания, праздника или корпоративной вечеринки в уединенной обстановке с видами на историческую часть Петербурга и реку Нева.
      include ./photostack
      .main__gallery--photos
        a.scroll.visible__md(href="#gallery") смотреть все фото
    p.main__description.hidden__md
      | Приватные террасы, на которые мы вас приглашаем, расположены на крыше особняка XIX века на 
      b Английской набережной
      |, в двух шагах от острова 
      b Новая Голландия.