- var navLinks = [{link: '#offer', name: "цены"},{link: '#offer__slider', name: "фото"},{link: '#conditions', name: "условия"},{link: '#present', name: "подарочный сертификат"}]

ul.menu
  for i in navLinks
    li
      a(href=i.link).nav-link.scroll=i.name