section.offer#offer
  .container
    .offer__top
      h2.title Пакетные </br> предложения
      p Для Вас мы подготовили несколько предложений, каждое из которых позволит создать особое впечатление от события.
    .content
      .offer__list.hidden__md
        form.form.offer__item.regular(action="" method="get" onsubmit="ym(54476875, 'reachGoal', 'ORDER6'); return true;")
          input(type="hidden" name="project_name" value="spb-panorama")
          input(type="hidden" name="admin_email" value="panoramacenter@yandex.ru")
          input(type="hidden" name="form_subject" value="Заявка пакет White")
          .offer__item--about
            h3.offer__item--title White
            span.select__title Кол-во часов
            select.select.select__time(name='select-time')
              option(value="2 часа") 2 часа
              option(value="3 часа") 3 часа
              option(value="4 часа") 4 часа
            .offer__item--included
              h3 Что входит в пакет:
              ul
                li Напитки
                li Уютные пледы
                li Удобная мебель
                li Декоративное освещение
                li Сезонные фрукты
          a.additional__button Дополнительные услуги
            span.plus +
            span.check &#10003;
          .offer__price
            span.offer__price--title Итого:
            input.offer__price--sum(name='price' value='5 500 р.' disabled)
          a.button.contact__btn связаться с нами
          .options
            .options__inner
              h3.options__title Дополнительные услуги
              ul.list
                li.list__item
                  span.title Живая музыка
                  span.price (+2500 р.)
                  label.checkbox
                    input(type="checkbox" name='Живая музыка')
                    span.checkmark
                li.list__item
                  span.title Профессиональная фотосессия
                  span.price (+2500 р.)
                  label.checkbox
                    input(type="checkbox" name='Профессиональная фотосессия')
                    span.checkmark
                li.list__item
                  span.title Лепестки роз (на столе или путь от лифта к шатру)
                  span.price (+1000 р.)
                  label.checkbox
                    input(type="checkbox" name='Лепестки роз (на столе или путь от лифта к шатру)')
                    span.checkmark
                li.list__item
                  span.title Дизайнерский букет
                  span.price (+2500 р.)
                  label.checkbox
                    input(type="checkbox" name='Дизайнерский букет')
                    span.checkmark
                li.list__item
                  span.title Декор воздушными шарами
                  span.price (+1500 р.)
                  label.checkbox
                    input(type="checkbox" name='Декор воздушными шарами')
                    span.checkmark
                li.list__item
                  span.title Прокат фотоаппарата InstaX (+ кассета на 10 снимков)
                  span.price (+2000 р.)
                  label.checkbox
                    input(type="checkbox" name='Профессиональная фотосессия')
                    span.checkmark
                li.list__item
                  span.title Урок по сальсе с профессиональным преподавателем
                  span.price (+2000/р. ч.)
                  label.checkbox
                    input(type="checkbox" name='Урок по сальсе с профессиональным преподавателем')
                    span.checkmark
                li.list__item
                  span.title Дополнительный час
                  span.price (+1000 р.)
                  label.checkbox
                    input(type="checkbox" name='Дополнительный час')
                    span.checkmark
              a.button Применить к пакету
              a.options__close
                span
          .offer__item--contact
            a.close
            .form__field
              input.input(type="text" placeholder="Ваше имя" name='name' required)
            .form__field
              input.input(type="text" placeholder="Ваш e-mail" name='email' required)
            .form__field
              input.input(type="text" placeholder="Контактный телефон" name='phone' required)
            .form__field
              button.button отправить
          p.offerta Не является публичной офертой
        form.form.offer__item.pink(action="" method="get" onsubmit="ym(54476875, 'reachGoal', 'ORDER4'); return true;")
          input(type="hidden" name="project_name" value="spb-panorama")
          input(type="hidden" name="admin_email" value="panoramacenter@yandex.ru")
          input(type="hidden" name="form_subject" value="Заявка пакет Pink")
          .offer__item--about
            h3.offer__item--title Pink
            span.select__title Кол-во часов
            select.select.select__time
              option(value="2 часа") 2 часа
              option(value="3 часа") 3 часа
              option(value="4 часа") 4 часа
            .offer__item--included
              h3 Что входит в пакет:
              ul
                li Напитки
                li Уютные пледы
                li Удобная мебель
                li Декоративное освещение
                li Сезонные фрукты
                li 
                  b Цветы и конфеты
          a.additional__button Дополнительные услуги
            span.plus +
            span.check &#10003;
          .offer__price
            span.offer__price--title Итого:
            input.offer__price--sum(name='price' value='6 500 р.' disabled)
          a.button.contact__btn связаться с нами
          .options
            .options__inner
              h3.options__title Дополнительные услуги
              ul.list
                li.list__item
                  span.title Живая музыка
                  span.price (+2500 р.)
                  label.checkbox
                    input(type="checkbox" name='Живая музыка')
                    span.checkmark
                li.list__item
                  span.title Профессиональная фотосессия
                  span.price (+2500 р.)
                  label.checkbox
                    input(type="checkbox" name='Профессиональная фотосессия')
                    span.checkmark
                li.list__item
                  span.title Лепестки роз (на столе или путь от лифта к шатру)
                  span.price (+1000 р.)
                  label.checkbox
                    input(type="checkbox" name='Лепестки роз (на столе или путь от лифта к шатру)')
                    span.checkmark
                li.list__item
                  span.title Дизайнерский букет
                  span.price (+2500 р.)
                  label.checkbox
                    input(type="checkbox" checked disabled name='Дизайнерский букет')
                    span.checkmark
                li.list__item
                  span.title Декор воздушными шарами
                  span.price (+1500 р.)
                  label.checkbox
                    input(type="checkbox" name='Декор воздушными шарами')
                    span.checkmark
                li.list__item
                  span.title Прокат фотоаппарата InstaX (+ кассета на 10 снимков)
                  span.price (+2000 р.)
                  label.checkbox
                    input(type="checkbox" name='Профессиональная фотосессия')
                    span.checkmark
                li.list__item
                  span.title Урок по сальсе с профессиональным преподавателем
                  span.price (+2000/ч р.)
                  label.checkbox
                    input(type="checkbox" name='Урок по сальсе с профессиональным преподавателем')
                    span.checkmark
                li.list__item
                  span.title Дополнительный час
                  span.price (+1000 р.)
                  label.checkbox
                    input(type="checkbox" name='Дополнительный час')
                    span.checkmark
              a.button Применить к пакету
              .options__close
                span
                span
          .offer__item--contact
            a.close
            .form__field
              input.input(type="text" placeholder="Ваше имя" name='name' required)
            .form__field
              input.input(type="text" placeholder="Ваш e-mail" name='email' required)
            .form__field
              input.input(type="text" placeholder="Контактный телефон" name='phone' required)
            .form__field
              button.button отправить
          p.offerta Не является публичной офертой
        form.form.offer__item.red(action="" method="get" onsubmit="ym(54476875, 'reachGoal', 'ORDER2'); return true;")
          input(type="hidden" name="project_name" value="spb-panorama")
          input(type="hidden" name="admin_email" value="panoramacenter@yandex.ru")
          input(type="hidden" name="form_subject" value="Заявка пакет Red")
          .offer__item--about
            h3.offer__item--title Red
            span.select__title Кол-во часов
            select.select.select__time(name='select-time')
              option(value="3 часа") 3 часа
              option(value="4 часа") 4 часа
            .offer__item--included
              h3 Что входит в пакет:
              ul
                li Напитки
                li Уютные пледы
                li Удобная мебель
                li Декоративные освещение
                li Сезонные фрукты
                li 
                  b Цветы и конфеты
                li 
                  b Воздушные шары
                li 
                  b Профессиональная фотосессия
                li 
                  b Живая музыка
          a.additional__button Дополнительные услуги
            span.plus +
            span.check &#10003;
          .offer__price
            span.offer__price--title Итого:
            input.offer__price--sum(name='price' value='13 000 р.' disabled)
          a.button.contact__btn связаться с нами
          .options
            .options__inner
              h3.options__title Дополнительные услуги
              ul.list
                li.list__item
                  span.title Живая музыка
                  span.price (+2500 р.)
                  label.checkbox
                    input(type="checkbox" name='Живая музыка')
                    span.checkmark
                li.list__item
                  span.title Профессиональная фотосессия
                  span.price (+2500 р.)
                  label.checkbox
                    input(type="checkbox" checked disabled name='Профессиональная фотосессия')
                    span.checkmark
                li.list__item
                  span.title Лепестки роз (на столе или путь от лифта к шатру)
                  span.price (+1000 р.)
                  label.checkbox
                    input(type="checkbox" name='Лепестки роз (на столе или путь от лифта к шатру)')
                    span.checkmark
                li.list__item
                  span.title Дизайнерский букет
                  span.price (+2500 р.)
                  label.checkbox
                    input(type="checkbox" checked disabled name='Дизайнерский букет')
                    span.checkmark
                li.list__item
                  span.title Декор воздушными шарами
                  span.price (+1500 р.)
                  label.checkbox
                    input(type="checkbox" checked disabled name='Декор воздушными шарами')
                    span.checkmark
                li.list__item
                  span.title Урок по сальсе с профессиональным преподавателем
                  span.price (+2000/ч р.)
                  label.checkbox
                    input(type="checkbox" name='Урок по сальсе с профессиональным преподавателем')
                    span.checkmark
                li.list__item
                  span.title Дополнительный час
                  span.price (+1000 р.)
                  label.checkbox
                    input(type="checkbox" name='Дополнительный час')
                    span.checkmark
              a.button Применить к пакету
              .options__close
                span
                span
          .offer__item--contact
            a.close
            .form__field
              input.input(type="text" placeholder="Ваше имя" name='name' required)
            .form__field
              input.input(type="text" placeholder="Ваш e-mail" name='email' required)
            .form__field
              input.input(type="text" placeholder="Контактный телефон" name='phone' required)
            .form__field
              button.button отправить
          p.offerta Не является публичной офертой
        form.form.offer__item.party(action="" method="get" onsubmit="ym(54476875, 'reachGoal', 'ORDER8'); return true;")
          input(type="hidden" name="project_name" value="spb-panorama")
          input(type="hidden" name="admin_email" value="panoramacenter@yandex.ru")
          input(type="hidden" name="form_subject" value="Заявка пакет Party")
          .offer__item--about
            h3.offer__item--title Вечеринка      
            p более 2 человек         
            span.select__title Кол-во часов
            select.select.select__time(disabled name='select-time')
              option 4 часа
            span.select__title Кол-во человек
            select.select.select__people(name='select-people')
              option до 10
              option 10 - 25
              option 25 - 50
            p Дополнительный час (+ 1500 p.)
            p Если более 50 человек - цена обговаривается индивидуально
          a.additional__button Дополнительные услуги
            span.plus +
            span.check &#10003;
          .offer__price
            span.offer__price--title Итого:
            input.offer__price--sum(name='price' value='12 000 р.' disabled)
          a.button.contact__btn связаться с нами
          .options
            .options__inner
              h3.options__title Дополнительные услуги
              ul.list
                li.list__item
                  span.title Живая музыка
                  span.price (+2500 р.)
                  label.checkbox
                    input(type="checkbox" name='Живая музыка')
                    span.checkmark
                li.list__item
                  span.title Профессиональная фотосессия
                  span.price (+2500 р.)
                  label.checkbox
                    input(type="checkbox" name='Профессиональная фотосессия')
                    span.checkmark
                li.list__item
                  span.title Лепестки роз (на столе или путь от лифта к шатру)
                  span.price (+1000 р.)
                  label.checkbox
                    input(type="checkbox" name='Лепестки роз (на столе или путь от лифта к шатру)')
                    span.checkmark
                li.list__item
                  span.title Дизайнерский букет
                  span.price (+2500 р.)
                  label.checkbox
                    input(type="checkbox" name='Дизайнерский букет')
                    span.checkmark
                li.list__item
                  span.title Декор воздушными шарами
                  span.price (+1500 р.)
                  label.checkbox
                    input(type="checkbox" name='Декор воздушными шарами')
                    span.checkmark
                li.list__item
                  span.title Прокат фотоаппарата InstaX (+ кассета на 10 снимков)
                  span.price (+2000 р.)
                  label.checkbox
                    input(type="checkbox" name='Профессиональная фотосессия')
                    span.checkmark
                li.list__item
                  span.title Урок по сальсе с профессиональным преподавателем
                  span.price (+2000/ч р.)
                  label.checkbox
                    input(type="checkbox" name='Урок по сальсе с профессиональным преподавателем')
                    span.checkmark
                li.list__item
                  span.title Дополнительный час
                  span.price (+1000 р.)
                  label.checkbox
                    input(type="checkbox" name='Дополнительный час')
                    span.checkmark
              a.button Применить к пакету
              .options__close
                span
                span
          .offer__item--contact
            a.close
            .form__field
              input.input(type="text" placeholder="Ваше имя" name='name' required)
            .form__field
              input.input(type="text" placeholder="Ваш e-mail" name='email' required)
            .form__field
              input.input(type="text" placeholder="Контактный телефон" name='phone' required)
            .form__field
              button.button связаться с нами
          p.offerta Не является публичной офертой
      .tabs.visible__md
        .nav-tabs
          a.tab__item.active(href='#tab__content1')
            h2.title свидание
            p.subtitle 2 человека
          a.tab__item(href='#tab__content2')
            h2.title Вечеринка
            p.subtitle более 2 человек
        ul.tab__content
          li.tab__content--inner.active#tab__content1
            form.form.form__tab.tab__inner--item.regular.active(action="" method="get" onsubmit="ym(54476875, 'reachGoal', 'ORDER5'); return true;")
              input(type="hidden" name="project_name" value="spb-panorama")
              input(type="hidden" name="admin_email" value="panoramacenter@yandex.ru")
              input(type="hidden" name="form_subject" value="Заявка пакет White")
              span.bottom
              h3.offer__item--title White
              span.select__title Кол-во часов
              select.select.select__time(name='select-time')
                option(value="2 часа") 2 часа
                option(value="3 часа") 3 часа
                option(value="4 часа") 4 часа
              .offer__item--included
                h3 Что входит в пакет:
                ul
                  li Напитки
                  li Уютные пледы
                  li Удобная мебель
                  li Декоративное освещение
                  li Сезонные фрукты
              .tab__inner--list
                .tab__inner--content
                  p.checklist__title Предлагаем дополнить ваш праздник или свидание особенными деталями и приятными возможностями:
                  .checklist
                    ul.list
                      li.list__item
                        span.title Живая музыка
                        span.price (+2500 р.)
                        label.checkbox
                          input(type="checkbox" name='Живая музыка')
                          span.checkmark
                      li.list__item
                        
                        span.title Профессиональная фотосессия
                        span.price (+2500 р.)
                        label.checkbox
                          input(type="checkbox" name='Профессиональная фотосессия')
                          span.checkmark
                      li.list__item
                        
                        span.title Лепестки роз (на столе или путь от лифта к шатру)
                        span.price (+1000 р.)
                        label.checkbox
                          input(type="checkbox" name='Лепестки роз (на столе или путь от лифта к шатру)')
                          span.checkmark
                      li.list__item
                        
                        span.title Дизайнерский букет
                        span.price (+2500 р.)
                        label.checkbox
                          input(type="checkbox" name='Дизайнерский букет')
                          span.checkmark
                      li.list__item
                        
                        span.title Декор воздушными шарами
                        span.price (+1500 р.)
                        label.checkbox
                          input(type="checkbox" name='Декор воздушными шарами')
                          span.checkmark
                      li.list__item
                        
                        span.title Прокат фотоаппарата InstaX (+ кассета на 10 снимков)
                        span.price (+2000 р.)
                        label.checkbox
                          input(type="checkbox" name='Профессиональная фотосессия')
                          span.checkmark
                      li.list__item
                        
                        span.title Урок по сальсе с профессиональным преподавателем
                        span.price (+2000/ч р.)
                        label.checkbox
                          input(type="checkbox" name='Урок по сальсе с профессиональным преподавателем')
                          span.checkmark
                      li.list__item
                        
                        span.title Дополнительный час
                        span.price (+1000 р.)
                        label.checkbox
                          input(type="checkbox" name='Дополнительный час')
                          span.checkmark
                    .order
                      span.title Итого:
                      input.price(name='price' value='5 500 р.' disabled)
                      a.button.contact__btn связаться с нами
                p.offerta Не является публичной офертой
              .offer__item--contact
                .offer__item--inner
                  a.close
                  .form__field
                    input.input(type="text" placeholder="Ваше имя" name='name' required)
                  .form__field
                    input.input(type="text" placeholder="Ваш e-mail" name='email' required)
                  .form__field
                    input.input(type="text" placeholder="Контактный телефон" name='phone' required)
                  .form__field
                    button.button отправить
              .offer__item--cover
                a.button посмотреть
            form.form.form__tab.tab__inner--item.pink(action="" method="get" onsubmit="ym(54476875, 'reachGoal', 'ORDER3'); return true;")
              input(type="hidden" name="project_name" value="spb-panorama")
              input(type="hidden" name="admin_email" value="panoramacenter@yandex.ru")
              input(type="hidden" name="form_subject" value="Заявка пакет Pink")
              span.bottom
              h3.offer__item--title Pink
              span.select__title(name='select-time') Кол-во часов
              select.select.select__time
                option(value="2 часа") 2 часа
                option(value="3 часа") 3 часа
                option(value="4 часа") 4 часа
              .offer__item--included
                h3 Что входит в пакет:
                ul
                  li Напитки
                  li Уютные пледы
                  li Удобная мебель
                  li Декоративное освещение
                  li Сезонные фрукты
                  li 
                    b Цветы и конфеты
              .tab__inner--list
                .tab__inner--content
                  p.checklist__title Предлагаем дополнить ваш праздник или свидание особенными деталями и приятными возможностями:
                  .checklist
                    ul.list
                      li.list__item
                        
                        span.title Живая музыка
                        span.price (+2500 р.)
                        label.checkbox
                          input(type="checkbox" name='Живая музыка')
                          span.checkmark
                      li.list__item
                        
                        span.title Профессиональная фотосессия
                        span.price (+2500 р.)
                        label.checkbox
                          input(type="checkbox" name='Профессиональная фотосессия')
                          span.checkmark
                      li.list__item
                        
                        span.title Лепестки роз (на столе или путь от лифта к шатру)
                        span.price (+1000 р.)
                        label.checkbox
                          input(type="checkbox" name='Лепестки роз (на столе или путь от лифта к шатру)')
                          span.checkmark
                      li.list__item
                        
                        span.title Дизайнерский букет
                        span.price (+2500 р.)
                        label.checkbox
                          input(type="checkbox" name='Дизайнерский букет' checked="" disabled="")
                          span.checkmark
                      li.list__item
                        
                        span.title Декор воздушными шарами
                        span.price (+1500 р.)
                        label.checkbox
                          input(type="checkbox" name='Декор воздушными шарами')
                          span.checkmark
                      li.list__item
                        
                        span.title Прокат фотоаппарата InstaX (+ кассета на 10 снимков)
                        span.price (+2000 р.)
                        label.checkbox
                          input(type="checkbox" name='Профессиональная фотосессия')
                          span.checkmark
                      li.list__item
                        
                        span.title Урок по сальсе с профессиональным преподавателем
                        span.price (+2000/р. ч.)
                        label.checkbox
                          input(type="checkbox" name='Урок по сальсе с профессиональным преподавателем')
                          span.checkmark
                      li.list__item
                        
                        span.title Дополнительный час
                        span.price (+1000 р.)
                        label.checkbox
                          input(type="checkbox" name='Дополнительный час')
                          span.checkmark
                    .order
                      span.title Итого:
                      input.price(name='price' value='6 500 р.' disabled)
                      a.button.contact__btn связаться с нами
                p.offerta Не является публичной офертой
              .offer__item--contact
                .offer__item--inner
                  a.close
                  .form__field
                    input.input(type="text" placeholder="Ваше имя" name='name' required)
                  .form__field
                    input.input(type="text" placeholder="Ваш e-mail" name='email' required)
                  .form__field
                    input.input(type="text" placeholder="Контактный телефон" name='phone' required)
                  .form__field
                    button.button отправить
              .offer__item--cover
                a.button посмотреть
            form.form.form__tab.tab__inner--item.red(action="" method="get" onsubmit="ym(54476875, 'reachGoal', 'ORDER1'); return true;")
              input(type="hidden" name="project_name" value="spb-panorama")
              input(type="hidden" name="admin_email" value="panoramacenter@yandex.ru")
              input(type="hidden" name="form_subject" value="Заявка пакет Red")
              span.bottom
              h3.offer__item--title Red
              span.select__title Кол-во часов
              select.select.select__time(name='select-time')
                option(value="3 часа") 3 часа
                option(value="4 часа") 4 часа
              .offer__item--included
                h3 Что входит в пакет:
                ul
                  li Напитки
                  li Уютные пледы
                  li Удобная мебель
                  li Декоративные освещение
                  li Сезонные фрукты
                  li 
                    b Цветы и конфеты
                  li 
                    b Воздушные шары
                  li 
                    b Профессиональная фотосессия
                  li 
                    b Живая музыка
              .tab__inner--list
                .tab__inner--content
                  p.checklist__title Предлагаем дополнить ваш праздник или свидание особенными деталями и приятными возможностями:
                  .checklist
                    ul.list
                      li.list__item
                        
                        span.title Живая музыка
                        span.price (+2500 р.)
                        label.checkbox
                          input(type="checkbox" name='Живая музыка')
                          span.checkmark
                      li.list__item
                        
                        span.title Профессиональная фотосессия
                        span.price (+2500 р.)
                        label.checkbox
                          input(type="checkbox" name='Профессиональная фотосессия')
                          span.checkmark
                      li.list__item
                        
                        span.title Лепестки роз (на столе или путь от лифта к шатру)
                        span.price (+1000 р.)
                        label.checkbox
                          input(type="checkbox" name='Лепестки роз (на столе или путь от лифта к шатру)')
                          span.checkmark
                      li.list__item
                        
                        span.title Дизайнерский букет
                        span.price (+2500 р.)
                        label.checkbox
                          input(type="checkbox" name='Дизайнерский букет' checked="" disabled="")
                          span.checkmark
                      li.list__item
                        
                        span.title Декор воздушными шарами
                        span.price (+1500 р.)
                        label.checkbox
                          input(type="checkbox" name='Декор воздушными шарами' checked="" disabled="")
                          span.checkmark
                      li.list__item
                        
                        span.title Прокат фотоаппарата InstaX (+ кассета на 10 снимков)
                        span.price (+2000 р.)
                        label.checkbox
                          input(type="checkbox" name='Профессиональная фотосессия' checked="" disabled="")
                          span.checkmark
                      li.list__item
                        
                        span.title Урок по сальсе с профессиональным преподавателем
                        span.price (+2000/р. ч.)
                        label.checkbox
                          input(type="checkbox" name='Урок по сальсе с профессиональным преподавателем' checked="" disabled="")
                          span.checkmark
                      li.list__item
                        
                        span.title Дополнительный час
                        span.price (+1000 р.)
                        label.checkbox
                          input(type="checkbox" name='Дополнительный час' checked="" disabled="")
                          span.checkmark
                    .order
                      span.title Итого:
                      input.price(name='price' value='13 000 р.' disabled)
                      a.button.contact__btn связаться с нами
                p.offerta Не является публичной офертой
              .offer__item--contact
                .offer__item--inner
                  a.close
                  .form__field
                    input.input(type="text" placeholder="Ваше имя" name='name' required)
                  .form__field
                    input.input(type="text" placeholder="Ваш e-mail" name='email' required)
                  .form__field
                    input.input(type="text" placeholder="Контактный телефон" name='phone' required)
                  .form__field
                    button.button отправить
              .offer__item--cover
                a.button посмотреть
          li.tab__content--inner#tab__content2
            form.form.form__tab.tab__inner--item.party(action="" method="get" onsubmit="ym(54476875, 'reachGoal', 'ORDER7'); return true;")
              input(type="hidden" name="project_name" value="spb-panorama")
              input(type="hidden" name="admin_email" value="panoramacenter@yandex.ru")
              input(type="hidden" name="form_subject" value="Заявка пакет Party")
              p.title Для примерного расчета стоимости необходимо указать кол-во человек и время
              .options
                .selections
                  .part
                    span.select__title Кол-во часов
                    select.select.select__time(disabled name='select-time')
                      option 4 часа
                  .part
                    span.select__title Кол-во человек
                    select.select.select__people(name='select-people')
                      option до 10
                      option 10 - 25
                      option 25 - 50
                .order
                  span.title Итого:
                  input.price(name='price' value='12 000 р.' disabled)
              .content
                p Дополнительный час (+ 1500 p.)
                p Если более 50 человек - цена обговаривается индивидуально
              a.button.contact__btn связаться с нами
              .offer__item--contact
                .offer__item--inner
                  a.close
                  .form__field
                    input.input(type="text" placeholder="Ваше имя" name='name' required)
                  .form__field
                    input.input(type="text" placeholder="Ваш e-mail" name='email' required)
                  .form__field
                    input.input(type="text" placeholder="Контактный телефон" name='phone' required)
                  .form__field
                    button.button отправить
            p.offerta Не является публичной офертой
    .offer__slider#offer__slider           
      ul.list
        li.list__item
          img(src="./assets/img/offer-slide-1.jpg", alt="slide")
        li.list__item 
          img(src="./assets/img/offer-slide-2.jpg", alt="slide")
        li.list__item 
          img(src="./assets/img/offer-slide-3.jpg", alt="slide")
        li.list__item 
          img(src="./assets/img/offer-slide-4.jpg", alt="slide")
        li.list__item 
          img(src="./assets/img/offer-slide-5.jpg", alt="slide")
    .conditions#conditions
      h3.title Условия</br>проведения</br>мероприятия
      p На крышу вы попадете через холл высококлассного бизнес-центра на лифте.
      p Координатор встретит вас, проводит на площадку, ответ на все ваши вопросы и расскажет о технике безопасности.
      span.pic__left.visible__md
        img(src="./assets/img/offer-slide-3.jpg", alt="")
      span.pic__right.visible__md
        img(src="./assets/img/offer-slide-desktop-2.jpg", alt="")