ul.photostack
  li
    img(src="./assets/img/polaroid/polaroid1.png", alt="photostack_pic")
  li
    img(src="./assets/img/polaroid/polaroid9.png", alt="photostack_pic")
  li
    img(src="./assets/img/polaroid/polaroid3.png", alt="photostack_pic")
  li
    img(src="./assets/img/polaroid/polaroid3.png", alt="photostack_pic")