ul.photostack
  li
    img(src="./assets/img/polaroid-top/polaroid1.png", alt="photostack_pic")
  li
    img(src="./assets/img/polaroid-top/polaroid2.png", alt="photostack_pic")
  li
    img(src="./assets/img/polaroid-top/polaroid3.png", alt="photostack_pic")
  li
    img(src="./assets/img/polaroid-top/polaroid4.png", alt="photostack_pic")