ul.photostack
  li
    img(class='lazy' src='data:image/gif;base64,R0lGODlhRABPAIAAAP///wAAACH5BAEAAAEALAAAAABEAE8AAAJQjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvXlAIAOw==' data-original="./assets/img/polaroid-top/polaroid1.png" alt="photostack_pic")
  li
    img(class='lazy' src='data:image/gif;base64,R0lGODlhRABPAIAAAP///wAAACH5BAEAAAEALAAAAABEAE8AAAJQjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvXlAIAOw==' data-original="./assets/img/polaroid-top/polaroid2.png" alt="photostack_pic")
  li
    img(class='lazy' src='data:image/gif;base64,R0lGODlhRABPAIAAAP///wAAACH5BAEAAAEALAAAAABEAE8AAAJQjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvXlAIAOw==' data-original="./assets/img/polaroid-top/polaroid3.png" alt="photostack_pic")
  li
    img(class='lazy' src='data:image/gif;base64,R0lGODlhRABPAIAAAP///wAAACH5BAEAAAEALAAAAABEAE8AAAJQjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvXlAIAOw==' data-original="./assets/img/polaroid-top/polaroid4.png" alt="photostack_pic")