ul.photostack
  li
    img(src="./assets/img/polaroid/polaroid1.png", alt="photostack_pic")
    span только мы с тобой
  li
    img(src="./assets/img/polaroid/polaroid9.png", alt="photostack_pic")
    span счастливые
  li
    img(src="./assets/img/polaroid/polaroid3.png", alt="photostack_pic")
    span 
      | from Piter </br> 
      | with love
      span.heart
  li
    img(src="./assets/img/polaroid/polaroid3.png", alt="photostack_pic")
    span То самое место...