section.present#present
  h2.title.container
    | подарочный сертификат
    span.visible__sm на романтическое свидание
  .present__content
    .container
      p.present__text Вы можете сделать подарок друзьям и близким, приобретя для них подарочный сертификат на свидание на террасе.
      .present__pic
        img(src="./assets/img/present.jpg", alt="present")
  .button__outter
    a.button.scroll(href='#response') хочу сертификат