section.response#response
  .container
    .block__form
      .block__form--part
        h2.title Ответим на </br> все вопросы!
        p
          | Напишите нам 
          a(href="mailto:panoramacenter@yandex.ru") panoramacenter@yandex.ru</br>
          |  или оставьте свой номер, и мы обязательно перезвоним.
      .block__form--part
        include ./form