section.safety
  .container
    .block__title
      h2.title Безопасность и&nbsp;комфорт
    .safety__describe
      p Терраса расположена на плоской благоустроенной и защищенной крыше, огорожена высокими бортиками, оформлена ландшафтными светильниками и живыми растениями, покрыта нескользящим материалом— все гости торжества смогут безопасно и с комфортом разместиться.
    .comfort
      ul.comfort__part.options
        li.options__item На случай прохлады в шатре для вас приготовленытеплые пледы, мягкие подушки и горячий чай.
        li.options__item Живые цветы, зелень, фонарики, свечии портативная акустика добавят романтики любой встрече.
        li.options__item За дополнительную плату предоставляются несколько парковочных мест.
        li.options__item На каждой террасе предусмотрена комфортабельная туалетная комната.
        li.options__item Возможность посещения нашей площадки предоставляется собственником здания, ваш отдых никто не потревожит.
      .comfort__part
        
        h3.comfort__part--title требования
        p.comfort__part--item Мы позаботились об уюте, комфорте и безопасности, поэтому в ответ ожидаем бережное отношение к нашей террасе. Во избежание недоразумений мы просим гостей внести депозит перед праздником.
        p.comfort__part--item Проведение мероприятия осуществляется по предварительному бронированию. Позвоните нам, и мы подберем для вас удобное время посещения.
        p.comfort__part--item Гостям в возрасте до 18 лет необходимо сопровождение родителей или законных представителей.