- var socLinks = [{link: 'https://vk.com/spbpanorama'},{link: 'https://www.facebook.com/spbpanorama/?modal=admin_todo_tour'},{link: 'https://www.instagram.com/kryshanaangliiskoi/?igshid=1ionnvgfy2n05'}]

ul.socials
  for i in socLinks
    li
      a(href=i.link target='_blank').nav-link