doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    link(rel="icon", href="./assets/img/icons/favicon.png")
    link(href="https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,500,600,700&display=swap&subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Крыша на английской, 70
    
  body.body
    wrapper.wrapper
      include ../module/header
      include ../module/main
      include ../module/offer
      include ../module/safety
      include ../module/gallery
      include ../module/present
      include ../module/response
      include ../module/faq
      include ../module/footer
      include ../module/copyright