@import "utils/reset";
@import "utils/vars";
@import "utils/fonts";

html {
  font-family: $mainFont;
  background-color: $default-color;
  font-size: $fz2;
  font-weight: $regular;
  color: $mainFontColor;
  line-height: $mainLineHeight;
}

// Links
a {
  text-decoration: none;
  color: $default-color;

  &:active,
  &:hover {
    outline: 0;
    color: $default-color;
  }
}

.wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.wrapper.no-scroll {
  height: 100vh;
}

.container {
  padding: 0 30px;
  max-width: $desktopWidth;
  width: 100%;
  margin: 0 auto;
}

.main {
  padding: 35px 0 50px;
  flex: auto;
  position: relative;

  & .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
  }
}

h1.title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 30px;
}

section.content {
  padding: 15px 10px;
  position: relative;
  flex: auto;
  margin-bottom: 72px;

  .list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

.button {
  padding: 14px 34px;
  border-width: 2px;
  border-style: solid;
  border-color: $default-color;
  font-family: $mainFont;
  font-size: $fz2;
  text-transform: uppercase;
  margin-bottom: 10px;
  transition: .2s;

  &:hover{
    background-color: $red;
  }
}

.visible__sm {
  display: none;
}

.visible__md {
  display: none;
}

main.main {
  & .container {
    display: flex;
    align-items: center;

    & .title {
      max-width: 80%;
      margin: auto;
      position: relative;
      margin-bottom: 150px;

      &::before {
        display: block;
        position: absolute;
        content: "";
        left: 50%;
        top: 40px;
        width: 200%;
        height: 250%;
        background-image: url("/assets/img/main_bg.jpg");
        background-size: cover;
        background-position: 0 50%;
        background-repeat: no-repeat;
        transform: rotate(-3.24deg) translateX(-50%);
        z-index: -1;
      }

      &::after {
        display: block;
        position: absolute;
        content: "";
        left: -130px;
        top: 60px;
        width: 147px;
        height: 53px;
        background-image: url("/assets/img/brush/header-brush-orange.png");
        background-size: contain;
        background-position: 50%;
        transform: rotate(-43.24deg);
        background-repeat: no-repeat;
      }
    }

    & .button {
      background-color: transparent;
      color: $default-color;
      cursor: pointer;
    }

    .main__description {
      font-size: $fz5;
      padding-left: 60px;
      position: relative;
      font-weight: $medium;

      &::before {
        display: block;
        position: absolute;
        content: "";
        left: 0;
        top: 10px;
        width: 43px;
        height: 33px;
        background-image: url("/assets/img/icons/bird.svg");
        background-size: contain;
        background-position: 50%;
        background-repeat: no-repeat;
      }
    }
  }
}

.fadein__scroll{
  display: none;

  &.show{
    display: block;
  }
}

.main__gallery {
  text-align: center;
  margin-bottom: 50px;

  & .main__gallery--photos {
    & a {
      font-weight: $medium;
      text-decoration: underline;
      font-style: italic;
      color: $mainFontColor;
      font-size: $fz8;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

@import "modules/header.scss";

@import "modules/menu.scss";

@import "modules/sort.scss";

@import "modules/burger.scss";

@import "modules/form.scss";

@import "modules/socials.scss";

@import "modules/photostack.scss";

@import "modules/offer.scss";

@import "modules/areas.scss";

@import "modules/safety.scss";

@import "modules/gallery.scss";

@import "modules/present.scss";

@import "modules/faq.scss";

@import "modules/response.scss";

@import "modules/footer.scss";

@import "modules/copyright.scss";

@import "modules/lightbox.scss";

@import "modules/slick.scss";

@import "modules/slick-theme.scss";

@media (min-width: 768px) {
  .visible__sm {
    display: block;
  }

  .hidden__sm {
    display: none;
  }

  main.main {
    & .container {
      & .title {
        max-width: 100%;

        &::before {
          top: 40px;
          width: 250%;
          height: 300%;
          background-image: url("/assets/img/main_bg-desktop.jpg");
        }

        &::after {
          left: -270px;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .hidden__md {
    display: none;
  }

  .visible__md {
    display: block;
  }

  h1.title {
    font-size: 48px;
    margin-bottom: 62px;
  }

  main.main {
    padding: 15px 0 102px;

    .container {
      flex-direction: row;
      align-items: stretch;

      & .main__about {
        display: flex;
        flex-direction: column;
        margin-right: 100px;

        & .socials {
          flex-direction: column;
          justify-content: flex-start;
          margin-bottom: 320px;

          &::before {
            position: absolute;
            content: "";
            display: block;
            top: 80px;
            width: 196px;
            height: 306px;
            background-image: url("/assets/img/icons/checks.svg");
            background-position: 100% 100%;
            background-repeat: no-repeat;
            background-size: contain;
          }

          & li {
            padding: 0;
            margin-bottom: 15px;

            & a.nav-link {
              background-image: url("/assets/img/icons/vk-black.svg");
            }

            &:nth-child(2) a.nav-link {
              background-image: url("/assets/img/icons/fb-black.svg");
            }

            &:nth-child(3) a.nav-link {
              background-image: url("/assets/img/icons/insta-black.svg");
            }
          }

          & li:last-child {
            margin-bottom: 0;
          }
        }
      }

      & .title {
        margin: 0;
        min-width: 361px;
        z-index: 1;

        &::before {
          top: 30px;
          width: 723px;
          height: 556px;
          display: none;
        }

        & .video{
          display: block;
          position: absolute;
          content: "";
          left: 50%;
          top: 40px;
          width: 723px;
          height: 556px;
          transform: rotate(-3.24deg) translateX(-50%);
          z-index: -1;
          overflow: hidden;
          & video{
            height: 100%;
          }
        }

        &::after {
          left: -270px;
          width: 224px;
          height: 81px;
          transform: rotate(-52.95deg);
        }

        & img {
          display: block;
          margin-bottom: 340px;
        }

        & .main__description {
          font-size: $fz5;
          width: 110%;
          margin-left: -100px;
          padding: 30px 35px;
          background-color: #ffffff;
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);

          &::before {
            left: auto;
            top: auto;
            right: 10px;
            bottom: 10px;
          }

          &::after {
            position: absolute;
            content: "";
            display: block;
            top: -33px;
            left: 0;
            right: 0;
            margin: auto;
            width: 170px;
            height: 66px;
            background-image: url("/assets/img/brush/main-tape.png");
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: contain;
          }
        }
      }

      & .main__gallery {
        margin-bottom: 0;
        width: 30%;

        & p.main__gallery--text {
          padding: 35px;
          box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
          font-size: $fz5;
          background-color: $default-color;
          position: relative;
          transition: 0.2s;
          text-align: left;

          &:hover {
            z-index: 5;
          }
        }
      }
    }
  }
}
